<h3>Notifications</h3>

<% if @notifications.length.zero?%>
  <em><%= "no notifications at the moment" %></em>
<% else %>
  <% @notifications.each do |note| %>

    <% sender = note.sender_id.nil? ? nil : User.find(note.sender_id) %>
    
    <% if note.notice_type == 'comment' %>
      <%= "someone commented on your " %>
      <%= link_to  "post", post_path(notification_source(note, 'comment')) %>
      </br></br>
    <% end %>

    <% if note.notice_type == 'like-comment' %>
      <%= "someone liked your comment on this " %>
      <%= link_to  "post", post_path(notification_source(note, 'like-comment')) %>
      </br></br>
    <% end %>

    <% if note.notice_type == 'like-post' %>
      <%= "someone liked your " %>
      <%= link_to  "post", post_path(notification_source(note, 'like-post')) %>
      </br></br>
    <% end %>  

    <% if note.notice_type == 'friend_request' %>
      <% user = notification_source(note, 'friend_request').user %>
      <%= "#{user.name} sent you a"%>
      <%= link_to  "friend request!", users_path %>
      </br></br>
    <% end %>

  <% end %>
<% end %>