<h4 class='title is-4 has-text-link'>Notifications</h4>

<% if @notifications.length.zero?%>
  <em><%= "no notifications at the moment" %></em>
<% else %>
  <% @notifications.each do |note| %>

    <% sender = note.sender_id.nil? ? 'someone' : User.find(note.sender_id).name %>
    
    <% if note.notice_type == 'comment' %>
      <%= "#{sender} commented on your " %>
      <%= link_to  "post", post_path(notification_source(note, 'comment')) %>
      <%= link_to(notification_path(note), method: :delete, class: 'button is-rounded is-small is-warning is-light ml-2') do %>
        <span class="icon">
          <i class="fa fa-times is-small"></i>
        </span>
      <% end %>
      </br></br>
    <% end %>

    <% if note.notice_type == 'like-comment' %>
      <%= "#{sender} liked your comment on this " %>
      <%= link_to  "post", post_path(notification_source(note, 'like-comment')) %>
      <%= link_to(notification_path(note), method: :delete, class: 'button is-rounded is-small is-warning is-light ml-2') do %>
        <span class="icon">
          <i class="fa fa-times is-small"></i>
        </span>
      <% end %>
      </br></br>
    <% end %>

    <% if note.notice_type == 'like-post' %>
      <%= "#{sender} liked your " %>
      <%= link_to  "post", post_path(notification_source(note, 'like-post')) %>
      <%= link_to(notification_path(note), method: :delete, class: 'button is-rounded is-small is-warning is-light ml-2') do %>
        <span class="icon">
          <i class="fa fa-times is-small"></i>
        </span>
      <% end %>
      </br></br>
    <% end %>  

    <% if note.notice_type == 'friend_request' %>
    <p>
      <% user = notification_source(note, 'friend_request').user %>
      <%= "#{user.name} sent you a"%>
      <%= link_to  "friend request!", users_path %>
      <%= link_to(notification_path(note), method: :delete, class: 'button is-rounded is-small is-warning is-light ml-2') do %>
        <span class="icon">
          <i class="fa fa-times is-small"></i>
        </span>
      <% end %>
      </br></br>
    <% end %>

    <% if note.notice_type == 'friend_accept' %>
      <% user = User.find(notification_source(note, 'friend_accept').friend_id) %>
      <%= link_to  user.name, user_path(user) %>
      <%= " accepted your friend request!"%>
      <%= link_to(notification_path(note), method: :delete, class: 'button is-rounded is-small is-warning is-light ml-2') do %>
        <span class="icon">
          <i class="fa fa-times is-small"></i>
        </span>
      <% end %>
      </br></br>
    <% end %>

  <% end %>
<% end %>