<h1><%= "#{@user.name}" %></h1>

<%= link_to  "Add Friend", user_friend_requests_path(@user.id),
                                              method: :post %>

<h3>Posts</h3>

<% @user.posts.each do |p| %>
  <div class="post">  
    <% if @user.handle == "" %>
      <%= @user.name %>
    <% else %>
      <%= @user.handle %>
    <% end %>
    </br>
    <%= p.body %></br>
    <%= link_to  "like", post_likes_path(p.id), method: :post %>
    <%= link_to  "comment", new_comment_path(post_id: p.id) %>
    <% if !p.like_count.zero? %>
        <%= "+#{p.like_count}"%>
    <% end %></br>
  </div>

  <% p.comments.each do |c| %>
    <div class="comment">  
      <% if c.author.handle == "" %>
        <%= link_to  c.author.name,  user_path(c.author.id)%>
      <% else %>
        <%= link_to  c.author.handle, user_path(c.author.id) %>
      <% end %>
      </br>
      <%= c.body %></br>
      <%= link_to  "like", comment_likes_path(c.id), method: :post %>
      <% if !c.like_count.zero? %>
        <%= "+#{c.like_count}"%>
      <% end %></br>
    </div>
  <% end %>

   </br></br>
<% end %>
