<h1><%= "#{@user.name}" %></h1>

<%= image_tag  @user.avatar.icon.url, class: 'profile_pic' %></br></br>

<% unless current_user == @user || FriendRequest.reacted?(current_user.id, @user.id) %>
  <%= link_to  "Add Friend", user_friend_requests_path(@user.id),
                                                method: :post %>
<% end %>

<% if @user == current_user %>
  <%= link_to  "friends", users_path %>
  <%= link_to  "edit profile", edit_user_registration_path(current_user) %>
<% end %>

<h3>Posts</h3>

<% posts = @user.posts.all.order("created_at DESC") %>
<%= render partial: "posts/post", collection: posts %>
