
  <% @posts.each do |p| %>
    <% if p.author == current_user || current_user.friend_with?(p.author) %>
      <div class="post">
        <%= image_tag  p.author.avatar.feed.url, class: 'feed_profile_pic' %>  
        <% if p.author.handle == "" %>
          <%= link_to  p.author.name,  user_path(p.author.id)%>
        <% else %>
          <%= link_to  p.author.handle, user_path(p.author.id) %>
        <% end %>
        <% unless p.image.url.nil? %>
          </br>
          <%= image_tag  p.image.url, class: 'feed_post_image' %>
        <% end %>
        </br>
        <%= p.body %></br>
        <%= link_to  "comment", new_comment_path(post_id: p.id) %>
        <%= link_to  "like", post_likes_path(p.id), method: :post %>
        <% if !p.like_count.zero? %>
          <%= "+#{p.like_count}"%>
        <% end %>
      </div>

        <% p.comments.each do |c| %>
          <div class="comment">
            <%= image_tag  p.author.avatar.feed.url, class: 'comment_profile_pic' %>  
            <% if c.author.handle == "" %>
              <%= link_to  c.author.name, user_path(c.author.id)%>
            <% else %>
              <%= link_to  c.author.handle, user_path(c.author.id) %>
            <% end %>
            </br>
            <%= c.body %>
            </br><%= link_to  "like", comment_likes_path(c.id), method: :post %>
            <% if !c.like_count.zero? %>
              <%= "+#{c.like_count}"%>
            <% end %></br>
          </div>
        <% end %>
    <% end%>
    </br></br>
  <% end %>