<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <%= image_tag post.author.avatar.feed.url, class: 'feed_profile_pic' %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <% if post.author.handle == "" %>
          <strong><%= link_to  post.author.name,  user_path(post.author.id)%></strong>
        <% else %>
          <strong><%= link_to  post.author.handle, user_path(post.author.id) %></strong>
        <% end %>
        <small>time_ago</small>
        <br>
        <% unless post.image.url.nil? %>
          <%= image_tag  post.image.feed.url, class: 'feed_post_image' %>
          <% if !post.body.nil?%>
            </br>
          <% end %>
        <% end %>
        <%= post.body %>
        </br>
        <small>
        <%= link_to(new_comment_path(post_id: post.id)) do %>
          <span class="icon is-small"><i class="fas fa-comment"></i></span>
        <% end %>
        <%= link_to(post_likes_path(post.id), method: :post) do %>
          <span class="icon is-small"><i class="fas fa-heart"></i></span>
        <% end %>
        <% if !post.like_count.zero? %>
          <%= post.like_count %>
        <% end %>
        </small>
      </p>
    </div>
    comments here
  </div>
</article>

      <% if false %>
      <div class="post">
        <%= image_tag post.author.avatar.feed.url, class: 'feed_profile_pic' %>  
        <% if post.author.handle == "" %>
          <%= link_to  post.author.name,  user_path(post.author.id)%>
        <% else %>
          <%= link_to  post.author.handle, user_path(post.author.id) %>
        <% end %>
        <% unless post.image.url.nil? %>
          </br>
          <%= image_tag  post.image.feed.url, class: 'feed_post_image' %>
        <% end %>
        </br>
        <%= post.body %></br>
        <%= link_to  "comment", new_comment_path(post_id: post.id) %>
        <%= link_to  "like", post_likes_path(post.id), method: :post %>
        <% if !post.like_count.zero? %>
          <%= "+#{post.like_count}"%>
        <% end %>
      </div>

        <% post.comments.each do |c| %>
          <div class="comment">
            <%= image_tag  c.author.avatar.feed.url, class: 'comment_profile_pic' %>  
            <% if c.author.handle == "" %>
              <%= link_to  c.author.name, user_path(c.author.id)%>
            <% else %>
              <%= link_to  c.author.handle, user_path(c.author.id) %>
            <% end %>
            </br>
            <%= c.body %>
            </br><%= link_to  "like", comment_likes_path(c.id), method: :post %>
            <% if !c.like_count.zero? %>
              <%= "+#{c.like_count}"%>
            <% end %></br>
          </div>
        <% end %>
    </br></br>

    <% end %>

