<article class="media">
  <figure class="media-left is-hidden-touch">
    <p class="image is-64x64">
      <%= image_tag post.author.avatar.feed.url, class: 'is-rounded' %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <% if post.author.handle == "" %>
          <strong><%= link_to  post.author.name,  user_path(post.author.id)%></strong>
        <% else %>
          <strong><%= link_to  post.author.handle, user_path(post.author.id) %></strong>
        <% end %>
        <small>time_ago</small>
        <br>
        <% unless post.image.url.nil? %>
          <figure class="image my-1 mx-0">
            <%= image_tag post.image.url, class: 'feed_post_image' %>
          </figure>
        <% end %>
        <%= post.body %>
        </br>
        <small>
        <%= link_to(new_comment_path(post_id: post.id)) do %>
          <span class="icon is-small"><i class="fas fa-comment"></i></span>
        <% end %>
        <% if !post.comment_count.zero? %>
          <%= post.comment_count %>
        <% end %>
        <%= link_to(post_likes_path(post.id), method: :post) do %>
          <span class="icon is-small"><i class="fas fa-heart"></i></span>
        <% end %>
        <% if !post.like_count.zero? %>
          <%= post.like_count %>
        <% end %>
        </small>
      </p>
    </div>
    <% unless current_page?(controller: 'comments', action: 'new') %>
      <% post.comments.each do |comment| %>
        <%= render partial: "comments/comment", object: comment %>
      <% end %>
    <% end %>
  </div>
</article>
