<h1>Your Feed</h1>

<% if user_signed_in? %>
  <h3>something on your mind?</h3>
  <%= render "form" %></br></br>

  <% @posts.each do |p| %>
    <% if p.author.handle == "" %>
      <%= p.author.name %>
    <% else %>
      <%= p.author.handle %>
    <% end %>
    </br>
    <%= p.body %>
    </br><%= link_to  "comment", new_comment_path(post_id: p.id) %>
    </br></br>
  <% end %>

<% else %>
  <%= link_to  "Please log in to see your feed!", user_sign_in_path %>
<% end %>