<h3><%= "#{@post.author.handle}'s Post'"%></h3>

<% unless @post.image.url.nil? %>
  </br>
  <%= image_tag  @post.image.url, class: 'feed_post_image' %>
  </br>
<% end %>

<%= @post.body%></br>
<%= link_to  "comment", new_comment_path(post_id: @post.id) %>
<%= link_to  "like", post_likes_path(@post.id), method: :post %>
<% if !@post.like_count.zero? %>
    <%= "+#{@post.like_count}"%>
<% end %>
</br></br>
<em><%= "posted #{@post.created_at}" %></em>

<% @post.comments.each do |c| %>
    <div class="comment">  
      <% if c.author.handle == "" %>
        <%= link_to  c.author.name,  user_path(c.author.id)%>
      <% else %>
        <%= link_to  c.author.handle, user_path(c.author.id) %>
      <% end %>
      </br>
      <%= c.body %></br>
      <%= link_to  "like", comment_likes_path(c.id), method: :post %>
      <% if !c.like_count.zero? %>
        <%= "+#{c.like_count}"%>
      <% end %></br>
    </div>
  <% end %>
