<aside class="menu">
  <ul class="menu-list">
    <% if user_signed_in? %>
      <% n_count = current_user.notifications.count %>
      <% n_display = n_count.zero? ? nil : " +#{n_count}" %>
      <li>
        <%= link_to(posts_path) do %>
          <span class='icon'><i class='fas fa-home'></i></span>
          Home
        <% end %>
      </li>
      <li>
        <%= link_to(notifications_path) do %>
          <span class='icon'><i class='fas fa-bell'></i></span>
          <%= "Notifications#{n_display}" %>
        <% end %>
      </li>
      <li>
        <%= link_to(user_path(current_user)) do %>
          <span class='icon'><i class='fas fa-id-badge'></i></span>
          Profile
        <% end %>
      </li>
      <li>
        <%= link_to(users_path) do %>
          <span class='icon'><i class='fas fa-user-friends'></i></span>
          Friends
        <% end %>
      </li>
      <li>
        <%= link_to(destroy_user_session_path, :method => :delete) do %>
          <span class='icon'><i class='fas fa-sign-out-alt'></i></span>
          Log Out
        <% end %>
      </li>
    <% else %>
    <li>
      <%= link_to(new_user_session_path) do %>
        <span class='icon'><i class='fas fa-sign-in-alt'></i></span>
        Log In
      <% end %>
    </li>
    <li>
      <%= link_to(new_user_registration_path) do %>
        <span class='icon'><i class='fas fa-user-plus'></i></span>
        Sign Up
      <% end %>
    </li>
    <% end %>
  </ul>
</aside>