<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <title>Florpbook</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body class='has-background-link-light'>

    <% if flash[:notice] %>
    <div class="flash_notifcation">
      <p class="good"><%= flash[:notice] %></p>
    </div>
    <% end %>

    <% if flash[:fail] %>
    <div class="flash_notification">
      <p class="bad"><%= flash[:fail] %></p>
    </div>
    <% end %>

    <% if false %>
    <%= render "layouts/navbar" %>
    <% end %>

    <% if false %>
    <div class='columns' id='header-container'>
      <div class='column is-8 is-offset-2 is-flex is-flex-direction-row is-align-content-center'>
        <h2 class='title is-2 has-text-link-dark'>florpbook</h2>
        <span class='icon is-size-4 ml-2 has-text-danger'><i class='fas fa-meteor'></i></span>
      </div>
    </div>
    <% end %>

  <!-- main -->
  <section class='section pt-4'>
    <div class='container'>
      <div class="columns is-mobile" id='main-container'>
        <div class="column is-2" id='menu-container'>
          <%= render "layouts/menu" %>
        </div>
        <div class="column is-10-mobile is-8-desktop" id='feed-container'>
          <%= yield %>
        </div>
      </div>
    </div>
  </section>
  <!-- /main -->
  
  

</body>
<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

</html>